body{
    background-color: azure;
}
#nav li{
    padding: 0%;
    text-align: center;
    display: inline;
    margin-right: 10px;
    font-size: 20px;
}
#tt{
    text-align: center;
}
#image{
    width: 100%;
}